body {
    background-color: #FFFAF0; /* Light orange background */
    color: #262626; /* text color */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 10;
    box-sizing: border-box;
}

@font-face {
    font-family: 'magfont';
    src: url('fonts/magfont') format('truetype');
    font-weight: normal;
    font-style: normal;
}


header {
    font-family: 'magfont', sans-serif;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
}

nav {
    background-color: #D00000; /* engineering red for menu background color */
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #FFFAF0; /* White links */
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #FFBA08; /* yellow hover effect */
}

section {
    padding: 40px;
    background-color: #FFFAF0; /* Background to match body */
}

.card {
    border-radius: 12px;
    padding: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

footer {
    background-color: #3F88C5;
    color: #FFFAF0;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9rem;
}
