body {
    background-color: #FFFAF0; /* Light eggshell background */
    color: #262626; /* text color */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 10;
    box-sizing: border-box;
}


.header-image {
    width: 75%;       /* Make the image take up the full width of its container */
    height: 300px;     /* Set a fixed height */
    object-fit: contain; /* Ensures the image covers the area without distortion */
}

header {
    font-family: Helvetica, sans-serif;
    padding: 50px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
}

nav {
 /* engineering red for menu background color */
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #D00000; /* White links */ 
    text-shadow: 5px 10px;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #FFBA08; /* yellow hover effect */
}

section {
    padding: 40px;
    background-color: #FFFAF0; /* Background to match body */
}

.card {
    border-radius: 12px;
    padding: 20px;
    /*box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);*/
    margin-bottom: 20px;
}

footer {
    background-color: #3F88C5;
    color: #FFFAF0;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9rem;
}
